@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap');

@font-face {
  font-family: Somic-Bold;
  src: url(/fonts/NTSomic-Bold.ttf);
}

* {
  color: #fff;
  font-family: Somic-Bold;
  background-color: #18181c;
}

